
 <!--
<p>prueba works!</p>

<div class="container-fluid">
    <div class="col-sm-4" style="background-color:green;">.col-sm-4</div>
    <div class="col-sm-8" style="background-color:blue;">.col-sm-8</div>
  </div>
  <hr>
  <div class="row row-no-gutters">
    <div class="col-sm-4" style="background-color:green;">.col-sm-4</div>
    <div class="col-sm-8" style="background-color:blue;">.col-sm-8</div>
  </div>

<hr>
<div class="container">
  <h2>Media Object</h2>
  <p>Use the "media-left" class to left-align a media object. Text that should appear next to the image, is placed inside a container with class="media-body".</p>
  <p>Tip: Use the "media-right" class to right-align the media object.</p><br>
  
-->
  <!-- Left-aligned media object -->
  <!--<div class="media">
    <div class="media-left">
      <img src="assets/imagenes/unnamed.jpg" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Left-aligned</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <hr>
-->
  <!-- Right-aligned media object -->
  <!--<div class="media">
    <div class="media-body">
      <h4 class="media-heading">Right-aligned</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="media-right">
      <img src="assets/imagenes/unnamed.jpg" class="media-object" style="width:60px">
    </div>
  </div>
</div>

<img src="assets/imagenes/unnamed.jpg" alt="Girl in a jacket" width="500" height="600">

<div class="container">
  <h2>Pagination</h2>
  <p>The .pagination class provides pagination links:</p>                  
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
</div>

<div class="container">
  <h2>Breadcrumbs</h2>
  <p>The .breadcrumb class indicates the current page's location within a navigational hierarchy:</p>                  
  <ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Private</a></li>
    <li><a href="#">Pictures</a></li>
    <li class="active">Vacation</li>        
  </ul>
</div>


<div class="container">
  <h2>Image Gallery</h2>
  <p>The .thumbnail class can be used to display an image gallery.</p>
  <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="assets/imagenes/unnamed.jpg" target="_blank">
          <img src="assets/imagenes/unnamed.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="assets/imagenes/unnamed.jpg" target="_blank">
          <img src="assets/imagenes/unnamed.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="assets/imagenes/unnamed.jpg" target="_blank">
          <img src="assets/imagenes/unnamed.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>-->
