<div class="container-fluid">
    <div>
      <app-left-componentmenu></app-left-componentmenu>
    </div> 

    <div class="container-fluid">
        <div class="col-sm-10 text-left" >
            <h1>Next Generation Network (NGN)</h1>
            <div>
                <p>Las NGN proveen servicios de telecomunicaciones basados en la transferencia de paquetes 
                    sobre el protocolo IP. Esta arquitectura brinda una plataforma multiservicios
                    convergentes que pueden ser consumidos por los usuarios independiente de las 
                    tecnologías de acceso (e.g, xDSL, WiMax, GPRS y HFC).</p>
                <p>NGN cuenta con interfaces  abiertas estandarizadas que facilitan la interoperabilidad con 
                    otras redes tradicionales de video, voz y datos, además de garantizar QoS de extremo a 
                    extremo y eficiencia de uso del ancho de banda.</p>
                <p>
                La arquitectura NGN está compuesta por las capas de aplicación, control y acceso. </p>
                <ul>
                    <li><b>Capa de Aplicacion:</b>Gestiona las aplicaciones y servicios presentes en la red 
                    alojados en servidores de aplicaciones.</li>
                    <li><b>Capa de Control:</b> Manejo la señalización entre los usuarios y los servicios 
                        de aplicación, admitiendo el establecimiento y finalización de las sesiones en la 
                        red por medio de equipos softswitch  o la arquitectura IMS.
                        Además, proporciona seguridad, gestión, facturación y almacenamiento de los
                        perfiles de usuario en el HSS (Home Subscriber Server).</li>
                    <li><b>Capa de acceso:</b>hace referencia al conjunto de elementos de red que proporcionan 
                        conectividad entre el usuario y la capa de control.</li>
                </ul>  

              
            </div>
            
        </div>
   
</div>





