<div class="col-sm-10 text-left" >
    <h1>NGN</h1>
    <div>
        <p>NGN ES</p>
    </div>
    <div>   
        <a href="assets/imagenes/Telco.JPG" target="_blank">
            <img src="assets/imagenes/Telco.JPG" alt="plataforma Telco"  style="width:100%" hspace="40" vspace="40">
        </a>
    </div> 
    <div>      
        <p>Actualmente, el  laboratorio Telco 2.0 tiene 5 servidores Blade Hewlett-Packard. 3 de ellos con 128 GB de RAM, 2 procesadores de 12 núcleos cada uno y almacenamiento de 300 GB.  Asimismo, 2 servidores con 256 GB de RAM, 2 procesadores de 14 núcleos cada uno y almacenamiento de 480 GB.  Igualmente, cuenta con unidades de almacenamiento MSA de un total de 23,6 TB. En la Figura <b>1</b> se puede observar la infraestructura física de la plataforma Telco 2.0.</p>  
    </div>    
    <hr>
    <h1>IMS</h1>
    <p>IMS es</p>
</div>

